
.login{
    width: 100vw;
    height: 100vh;
    /* background-color: #f0f2f5; */
    background-color: #fff;
    color: #1c1e21;
    display: flex;
    align-items: center;
    justify-content: center; 
}



.loginWrapper{
    width: 70%;
    height: 70%;
    /* background-color: rgb(204, 239, 248); */
    display: flex;
    /* gap:20px; */
}

.loginLeft, .loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.loginDesc{
    font-size: 24px;
}

.loginBox{
    height: 300px;
    /* padding: 30px; */
    padding-top: 45px;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: -2px 1px 12px 3px rgba(230,230,230,1);
    -webkit-box-shadow: -2px 1px 12px 3px rgba(230,230,230,1);
    -moz-box-shadow: -2px 1px 12px 3px rgba(230,230,230,1);
}


.loginInput{
    height: 50px;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    font-size: 18px;
    padding-left: 20px;
    color: rgb(67, 67, 67);
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    justify-self: center;
}


.loginButton:hover{
    background-color: #016af2;
}

.loginButton:focus{
    outline: none;
}

.loginButton:disabled{
    cursor: not-allowed;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
}

/* .loginRegistationButtonH{
    display: flex;
    justify-content: center;
} */

.loginRegistationButton{
    width: 60%;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    text-decoration: none;
}

.loginRegistationButton:hover{
    background-color: #3ebe25;
}



@media only screen and (min-width:200px) and (max-width: 500px) {
    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .loginWrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .loginBox{
        height: 200px;
        /* padding-top: 45px; */
        background: white;
        width: 80%;
        /* background: cyan; */
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        /* justify-content: space-between; */
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 10px;
        
    }

    
    .loginInput{
        height: 30px;
        border-radius: 3px;
        width: 70%;
        font-size: 15px;
    }

    .loginLeft{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }

    .loginLogo{
        font-size: 45px;
        font-weight: 800;
        color: #1775ee;
        margin-bottom: 10px;
    }

    .loginDesc{
        font-size: 18px;
    }

    .loginButton{
        height: 35px;
        width: 70%;
        font-size: 18px;
    }


        
    .loginRegistationButton{
        width: 60%;
        height: 40px;
        border-radius: 10px;
        background-color: #42b72a;
        color: white;
        font-size: 18px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}



