.login{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.loginWrapper{
    width: 70%;
    height: 70%;
    /* background-color: rgb(204, 239, 248); */
    display: flex;
}

.loginLeft, .loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.loginDesc{
    font-size: 24px;
}

.loginBox{
    height: 400px;
    padding: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;
}


.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginButton:hover{
    background-color: #016af2;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
}

/* .loginRegistationButtonH{
    display: flex;
    justify-content: center;
} */

.loginRegistationButton{
    width: 60%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}

.loginRegistationButton:hover{
    background-color: #3ebe25;
}


.loginRegistationButtonD{
    display: flex;
    justify-content: space-around;
    height: 43px;
    width: 100%;
    align-items: center;
}

.tmp{
    display: none;
}


@media only screen and (max-width: 600px) {
    .loginWrapper{
        width: 75%;
        height: 70%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: initial;
        /* gap: 25px; */
    }

    .loginLogo{
        font-size: 35px;
        font-weight: 800;
        color: #1775ee;
        margin-bottom: 8px;
    }
    
    .loginDesc{
        font-size: 12px;
    }

    .loginLeft{
        justify-items: center;
        align-items: center;
    }

    .loginBox{
        width: 80%;
        height: 300px;
        /* padding: 10px; */
        align-self: center;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        justify-content: initial;
        align-items: center;
        gap: 10px;
        justify-self: flex-start;
    }

    .loginInput{
        width: 100%;
        height: 30px;
        border-radius: 10px;
        border: 1px solid gray;
        font-size: 10px;
        padding-left: 15px;
        /* width: 85%; */
    }

    .login{
        height: 50vh;
        display: flex;
        /* align-items: normal; */
        justify-content: center;
        /* background-color: #e6e6e7; */
        background-color: #f0f2f5;
    }

    .loginButton{
        margin-top: 20px;
        width: 60%;
        height: 23px;
        font-size: 12px;
    }
    
    .loginRegistationButton{
        margin-top: 12px;
        width: 85%;
        height: 23px;
        font-size: 12px;

    }
}


@media only screen and (max-width: 400px) {
    .loginLogo{
        font-size: 30px;
        font-weight: 800;
        color: #1775ee;
        margin-bottom: 8px;
    }
    
    .loginDesc{
        /* font-size: 12px; */
        display: none;
        /* text-align: center; */
    }
    .login{
        width: 100vw;
        height: 70vh;
        background-color: white;
        /* background-color: #f0f2f5; */
        /* background-color: cyan; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}