
.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
    align-items: center;
    display: flex;
}


.rightbarProfileImg{
    width: 32px;
    height: 32px;
    margin-right: 5px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    bottom: -1px;
    right: 2px;
    border: 2px solid white;
}

.rightbarUsername{
    font-weight: 500;
}